/* inter-thin */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100;
	src: local("Inter Thin"), local("Inter-Thin"), url(inter-thin.woff2) format("woff2"), url(inter-thin.woff) format("woff");
	font-display: swap;
}
/* inter-semibold */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: local("Inter SemiBold"), local("Inter-SemiBold"), url(inter-semibold.woff2) format("woff2"), url(inter-semibold.woff) format("woff");
	font-display: swap;
}
/* inter-regular */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: local("Inter Regular"), local("Inter-Regular"), url(inter-regular.woff2) format("woff2"), url(inter-regular.woff) format("woff");
	font-display: swap;
}
/* inter-medium */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	src: local("Inter Medium"), local("Inter-Medium"), url(inter-medium.woff2) format("woff2"), url(inter-medium.woff) format("woff");
	font-display: swap;
}
/* inter-light */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 300;
	src: local("Inter Light"), local("Inter-Light"), url(inter-light.woff2) format("woff2"), url(inter-light.woff) format("woff");
	font-display: swap;
}
/* inter-extralight */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: local("Inter ExtraLight"), local("Inter-ExtraLight"), url(inter-extralight.woff2) format("woff2"), url(inter-extralight.woff) format("woff");
	font-display: swap;
}
/* inter-extrabold */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url(inter-extrabold.woff2) format("woff2"), url(inter-extrabold.woff) format("woff");
	font-display: swap;
}
/* inter-bold */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	src: local("Inter Bold"), local("Inter-Bold"), url(inter-bold.woff2) format("woff2"), url(inter-bold.woff) format("woff");
	font-display: swap;
}
/* inter-black */
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	src: local("Inter Black"), local("Inter-Black"), url(inter-black.woff2) format("woff2"), url(inter-black.woff) format("woff");
	font-display: swap;
}

