.pfcs_71e5e27c
{
background-color:var(--neutralTertiary);
border-left:0px solid transparent;
border-right:0px solid transparent;
border-top:0px solid transparent;
border-bottom:0px solid transparent;
color: var(--neutralDark);
text-align:left;
font-style:normal;
}
.pfcs_71e5e27c:hover
{
color: var(--neutralDark);
text-align:left;
font-style:normal;
}

