.pfcs_38e719d7
{
background-color:#BFBFBF;



border:0px solid transparent;
font-family: 'Segoe UI', 'WeblySleekUIRegular', Tahoma, -apple-system,BlinkMacSystemFont,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
color: var(--neutralDark);
text-align:left;
font-style:normal;
}
.pfcs_38e719d7:hover
{
color: var(--neutralDark);
text-align:left;
font-style:normal;
}

.pfcs_1cd76742
{
background-color:var(--white);



border:0px solid transparent;
display:block;color: #94FF6D;
font-size:1em;
text-align:left;
font-style:normal;
}

.pfcs_c166984e:hover
{
color: var(--neutralDark);
text-align:left;
font-style:normal;
}
.pfcs_c166984e
{
background-color:#00BA00;


border-radius:4px 4px 4px 4px !important;
border:0px solid transparent;
color: var(--neutralDark);
text-align:left;
font-weight:bold;
font-style:normal;
}

.pfcs_3921fdac
{
background-color:var(--transparent);



border:0px solid transparent;
color: var(--themePrimary);
text-align:left;
font-style:normal;
}
.pfcs_3921fdac:hover
{
background-color:var(--neutralTertiaryAlt);


border-radius:var(--corner-radius) var(--corner-radius) var(--corner-radius) var(--corner-radius) !important;
border:0px solid transparent;
color: var(--themePrimary);
text-align:left;
font-style:normal;
}
.pfcs_3921fdac:active
{
background-color:var(--neutralQuaternary);



border:0px solid transparent;
color: var(--themeTertiary);
text-align:left;
font-style:normal;
}

.pfcs_3b755d7d
{
background-color:var(--white);



border:0px solid transparent;
color: #000000;
text-align:left;
font-style:normal;
}

